extends _layout/layout

block variables
	- var title = 'USC'
	- var bodyclass = 'aboutpage'

block css

block body
	include _layout/header
	main
		include _layout/breadcrumb
		include _layout/ct-duhoc
	include _layout/footer