+breadcrumb("Chương trình học","img/breadcrumb/1.jpg")
.container
	section.news-page.clearfix
		h1.pagetitle BEGINNER FOR TEENS
		.content
			p Chương trình cung cấp nền tảng từ vựng  và ngữ pháp đễ hỗ trợ người học phát triển đầy đủ các kỹ năng nghe, nói, đọc, viết từ trình độ sơ cấp đến cao cấp. Người học sẽ giao tiếp chủ động, tự tin và lưu loát trong các ngữ cảnh từ đơn giản đến phức tạp như các giao tiếp hằng ngày trong gia đình, xã hội, tại nơi làm việc… Đối tượng chủ yếu là học sinh cấp hai.

			p Đây là giai đoạn đầu giúp học viên: 
			ul 
				li Bước đầu làm quen với tiếng Anh.
				li Hiểu những chỉ dẫn và thông tin đơn giản.
				li Hỏi đáp về các đề tài thường ngày như bản thân, gia đình, nhà trường.
				li Bày tỏ ý kiến, yêu cầu đơn giản.
			//- figure
				img(src="img/course/p1.jpg", alt="")
		.register-info.clearfix
			.module-title Đăng ký chương trình học
			.form-group.col-xs-12.col-md-6
				label(for="") Họ và tên(*):
				input(type="text")
			.form-group.col-xs-12.col-md-6
				label(for="") Ngày tháng năm sinh(*):
				input(type="text")
			.form-group.col-xs-12.col-md-6
				label(for="") Phụ huynh(*):
				input(type="text")
			.form-group.col-xs-12.col-md-6
				label(for="") Số điện thoại:
				input(type="text")
			.form-group.col-xs-12.col-md-6
				label(for="") Email:
				input(type="text")
			.form-group.col-xs-12.col-md-6
				label(for="") Địa chỉ:
				input(type="text")
			.form-group.col-xs-12
				label(for="") Nội dung:
				textarea(name="", cols="30", rows="5")
			.col-xs-12
				input(type="submit", value="Đăng ký")
		//- .col-xs-12.col-lg-3
			a.btn-backpage(href="#") Quay lại
			nav.sidebar-category.clearfix
				.othertitle 
					span Chương trình học
				ul 
					li.active
						a(href="#") Active English for Teens
					li
						a(href="#") Active English for Adults
					li 
						a(href="#") English Communication Skill
					li
						a(href="#") English for Children
					li 
						a(href="#") Academic English
					li 
						a(href="#") Intensive IELTS
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm