+breadcrumb("Dịch vụ", "img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.about-page.clearfix
				h1.pagetitle Dịch vụ
				.content
					p Dịch vụ của Universal Study:
					ul 
						li Tư vấn chọn khóa học, trường học và quốc gia du học dựa trên các yêu cầu riêng của từng cá nhân học sinh, sinh viên.
						li Đề xuất những giải pháp hiệu quả nhất về vấn đề chứng minh tài chính cho phụ huynh.
						li Tư vấn các cơ hội học bổng và các chương trình hỗ trợ tài chính.
						li Tổ chức và thực hiện trọn gói các dịch vụ hỗ trợ cho du học sinh và sinh viên quốc tế như hỗ trợ xin visa, sắp xếp chuyến bay, thu xếp ăn ở tại nước ngoài, định hướng trước khi du học.
						li Tư vấn chương trình định cư sau khi hoàn tất khóa học.
					p Đến với Universal Study, Quý phụ huynh và các bạn học sinh sẽ được tư vấn trực tiếp bởi các thành viên của Ban Giám đốc và nhận được sự trợ giúp tích cực của một đội ngũ tư vấn giàu kinh nghiệm.
					p Để không phải chờ đợi, quý phụ huynh và các bạn học sinh cần tư vấn có thể hẹn trước với chúng tôi bằng cách đăng ký trực tuyến trên website tại đây: Đăng ký lịch hẹn tư vấn du học
					p Đặc biệt, chúng tôi còn sẽ tư vấn ngoài giờ làm việc cho những khách hàng đã đặt hẹn trước và được Universal Study xác nhận cuộc hẹn.  Xin vui lòng bấm vào đây để đăng ký dịch vụ: Đăng ký lịch hẹn tư vấn du học
					p Mọi dịch vụ tư vấn của Universal Study cho phụ huynh và học sinh được cung cấp hoàn toàn miễn phí.
					figure 
						img(src="img/about/2.jpg", alt="")
				.share
					img(src="img/share.png", alt="")
		.col-xs-12.col-lg-3
			nav.sidebar-category.only.clearfix
				.othertitle 
					span Giới thiệu
				ul 
					li
						a(href="#") Giới thiệu chung
					li.active
						a(href="#") Dịch vụ
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm