+breadcrumb("Du học", "img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				.newsmain-img
					figure
						img(src="img/breadcrumb/2.jpg", alt="")
					figcaption
						h1.newspage-name Du học Mỹ
						.share
							img(src="img/share.png", alt="")
				//- .newsdetail.clearfix
					time ngày 28/3/2017
				.content
					h4 Hệ thống giáo dục
					h5 Chương trình tiểu học và trung học
					p Tại Hoa Kỳ, tất cả mọi trẻ em đều phải đến trường, và độ tuổi đầu đến trường do mỗi bang quy định. Thông thường, học sinh bắt đầu đến trường vào khoảng năm đến sáu tuổi và kết thúc chương trình trung học vào lúc 18 tuổi.
					ul 
						li Trường tiểu học: sáu năm, từ mẫu giáo đến hết lớp năm 
						li Trường trung học cơ sở: ba năm, từ lớp sáu đến hết lớp tám 
						li Trường trung học phổ thông: bốn năm, từ lớp chín đến hết lớp mười hai
					p Các trường tiểu học và trung học đều tồn tại hai hệ thống các trường công lập và tư thục. Theo thống kê, khoảng 10% học sinh theo học tại các trường tư thục, khoảng 85% theo học tại các trường công lập và một số ít học sinh được cha mẹ tự dạy học tại nhà.
					h5 Chương trình sau phổ thông
					p Bao gồm các trường Colleges, Universities, Schools và Institutes
					p Ở Mỹ, các trường có thể được gọi bởi bất kỳ cái tên nào ở trên. Tuy nhiên, các colleges thường có xu hướng nhỏ hơn và chỉ cung cấp bằng cử nhân đại học, trong khi university thì cung cấp thêm cả các bằng sau đại học. Một “institute” (học viện) thường tập trung vào các chương trình lấy bằng trong một nhóm các ngành có liên quan chặt chẽ với nhau, ví dụ: học viện kỹ thuật, học viện thời trang, học viện nghệ thuật và thiết kế….
					p Các trường đại học (Universities): Dạy các chương trình cử nhân 4 năm. bao gồm các trường đại học của tiểu bang (state university) hoặc đại học tư thục (Private university)
					p Trường cao đẳng (thường là các trường Cao đẳng cộng đồng): Thường cấp bằng 2 năm, gọi là Associate of Arts (A.A) hoặc Associate of Science (A.S). Các trường cao đẳng cộng đồng học phí và điều kiện nhập học thường thấp hơn so với các trường đại học 4 năm, và nhiều trường cao đẳng cộng đồng cho phép sinh viên chuyển tiếp dễ dàng hơn
					ul 
						li  Các chương trình đại học
						li Chương trình sau đại học
					h4 Các khóa học
					p Các khóa học ngôn ngữ trang bị cho học sinh khả năng sử dụng ngôn ngữ tại đất nước sở tại một cách thành thạo, nâng cao kỹ năng đàm thoại, cách viết hiệu quả, phát triển kỹ năng nghe và khả năng sử dụng văn phạm chính xác. Các khóa học ngôn ngữ chuyên nghành giúp bạn hiểu rõ hơn về các từ ngữ sử dụng trong chuyên môn bạn chọn ở bậc cao đẳng, đại học hoặc sau đại học như: Marketing, Kinh doanh, Truyền thông, Nghệ thuật, Lịch sử, Kỹ thuật... Các khóa học tiếng Anh tại Mỹ, Anh, Úc, Cadana:
					ul 
						li Tiếng Anh tổng quát
						li Tiếng Anh chuyên sâu
						li Các khóa học luyện thi IELTS, TOEFL, TOEIC, Cambridge…
						li Tiếng Anh thương mại
						li Tiếng Anh sử dụng trong nghành Công Nghệ Thông tin
						li Tiếng Anh trong nghành Du lịch và Khách sạn
						li Tiếng Anh trong Truyền thông và Nghệ thuật
						li Tiếng Anh trong nghành y
					p Thời gian học: 2 – 52 tuần
					p Khai giảng: mỗi thứ Hai đầu tháng.
					h4 Chi phí
					h5 Học phí
					ul 
						li Ngôn ngữ: USD 130 – 300/ tuần
						li Trung học: USD 8,000 – 30,000/ năm
						li Cao đẳng: USD 4,000 – 10,000/ năm
						li Đại học: USD 18,000 - 40,000/ năm
						li Sau đại học: >USD 20,000/ năm
					p Ăn ở, sinh hoạt: USD 10,000 – 12,000/ năm
					p Ghi chú: Mức học học phí trên đây chỉ mang tính chất tham khảo. Học phí sẽ thay đổi theo năm, và tùy theo trường.
					h4 Visa
					p Quy trình áp dụng cho học sinh xin thị thực du học lần đầu:
					h5 Bước 1: Xin cấp I-20 / DS-2019 và trả phí SEVIS
					ul 
						li I-20:  Đối với thị thực F-1 và M-1, du học sinh phải xin mẫu I-20 do trường học ở Hoa Kỳ cấp. Mẫu I-20 phải có chữ ký của du học sinh và đại diện của trường học. 
						li DS-2019:  Đối với thị thực J-1, du học sinh phải xin mẫu DS-2019 từ chương trình trao đổi văn hoá.
						li Trả phí SEVIS I-901:  Tất cả các đương đơn xin thị thực du học (F-1, M-1) hay trao đổi văn hoá (J-1) đều phải trả phí SEVIS trước ngày phỏng vấn.  Du học sinh phải nộp bản chính biên nhận đóng phí SEVIS (mẫu I-797) hoặc biên nhận điện tử nếu việc đóng phí được thực hiện qua mạng internet.
					h5 Bước 2:  Hoàn tất các mẫu đơn xin cấp thị thực 
					p Mẫu DS-160: Mọi học sinh đi du học phải hoàn tất mẫu đơn này. Mẫu đơn này có sẵn trên mạng:http://travel.state.gov/visa/frvi_forms.html . 
					h5 Bước 3:  Hẹn phỏng vấn
					p Để xin lịch phỏng vấn trên mạng, trước tiên học sinh phải hoàn tất và in mẫu đơn DS-160.  Sau đó vào đường link https://evisaforms.state.gov/default.asp?postcode=HCM&appcode=3 để lấy hẹn.  Khi đã hoàn tất các thông tin và đã chọn được ngày và giờ phỏng vấn, thư xác nhận cuộc hẹn…. Học sinh phải in thư này và mang theo vào ngày phỏng vấn.
					h5 Bước 4: Lệ phí
					p Đương đơn cần trình hộ chiếu có hiệu lực và nộp lệ phí xin cấp thị thực không hoàn lại 3,440,000VND tại ngân hàng Citibank số 115 Nguyễn Huệ, Quận 1, TP. Hồ Chí Minh.
					h5 Bước 5: Phỏng vấn
					p Học sinh đến Tổng Lãnh Sự Quán Hoa Kỳ vào ngày và giờ trên phiếu hẹn (có thể đến sớm hơn 1 giờ) và mang theo những loại giấy tờ bản chính sau:
		.col-xs-12.col-lg-3
			a.btn-backpage(href="#") Quay lại
			nav.sidebar-category.clearfix
				.othertitle 
					span Du học
				ul 
					li.active
						a(href="#") Du học Mỹ
					li
						a(href="#") Du học Anh
					li 
						a(href="#") Du học Canada
					li
						a(href="#") Du học Úc
					li 
						a(href="#") Du học Singapore
					li 
						a(href="#") Du học New Zealand
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm
