+breadcrumb("Du học","img/breadcrumb/1.jpg")
//- nav.topbar.clearfix
	.container
		ul 
			li.active
				a(href="#") Du học Mỹ
			li 
				a(href="#") Du học Anh
			li 
				a(href="#") Du học Canada
section.news-page.clearfix
	.container
		.pagetitle Du học
		.oversea.clearfix
			.row.flex.flex-wrap
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/duhoc/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Du học Mỹ
								a.link(href="#") Chi tiết
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/duhoc/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Du học Anh
								a.link(href="#") Chi tiết
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/duhoc/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Du học Canada
								a.link(href="#") Chi tiết
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/duhoc/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Du học Úc
								a.link(href="#") Chi tiết
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/duhoc/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Du học Singapore
								a.link(href="#") Chi tiết
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/duhoc/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Du học New Zealand
								a.link(href="#") Chi tiết
				//- article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/duhoc/1.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Du học Hà Lan
								a.link(href="#") Chi tiết
			.pages
				ul.pagination
					li 
						a(href="#") 1
					li.active
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4
