+breadcrumb("Giới thiệu", "img/breadcrumb/3.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.about-page.clearfix
				h1.pagetitle Giới thiệu
				.content
					p Quý phụ huynh và các em học sinh thân yêu!

					p UNIVERSAL STUDY CENTER (USC) là trung tâm Anh Ngữ đầu tiên tại TPHCM được Sở Giáo Dục và Đào Tạo cấp phép họat động giảng dạy dựa trên phương pháp Tiếp Cận Năng Lực ( Competency-based approach), giúp người học hấp thụ ngôn ngữ một cách tự nhiên và hiệu quả nhất. Với các khóa học Anh Ngữ từ cơ bản đến nâng cao đa dạng cho mọi lứa tuổi: Tiếng Anh Thiếu Nhi (English for Children), Tiếng Anh Tích Cực (Active English), Tiếng Anh Học Thuật (Academic English), Tiếng Anh Tăng Cường ( Private English) đặc biệt là chương trình tiếng Anh Du Học (Intensive Ielts) đạt tiêu chuẩn du học tại các nước Anh, Úc, Mỹ, Canada, New Zealand, Singapore, Châu Âu giúp các em vươn xa ra thế giới rộng lớn.

					p Tọa lạc tại trung tâm TPHCM, cơ sở vật chất và trang thiết bị học tập hiện đại, đội ngũ giáo viên đều là giảng viên có kinh nghiệm đến từ các trường trung học, cao đẳng, đại học nổi tiếng trong và ngoài nước cùng với chương trình giảng dạy được đầu tư kỹ lưỡng rất sát với nhu cầu của từng đối tượng học viên, USC hứa hẹn sẽ đồng hành cùng với các thế hệ học sinh sinh viên Việt Nam trong công cuộc hội nhập toàn cầu để tiếng Anh không còn là rào cản.

					p Sử dụng lưu loát tiếng Anh không chỉ là niềm tự hào của mỗi cá nhận có thể giao tiếp với thế giới mà đó còn là hy vọng và ước mơ, hy vọng sẽ có một tương lai tươi sáng, ước mơ sẽ thành đạt trong cuộc sống.

					p Hãy cùng chúng tôi biến ước mơ của bạn thành hiện thực!

					p 
						em Giám đốc trung tâm
				.share
					img(src="img/share.png", alt="")
		.col-xs-12.col-lg-3
			//- nav.sidebar-category.clearfix
				.othertitle 
					span Giới thiệu
				ul 
					li.active
						a(href="#") Giới thiệu chung
					li
						a(href="#") Dịch vụ
			nav.other-news.only.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm