section.about-intro.clearfix(style="background: url(img/about/bg.png) left bottom no-repeat; background-size: cover")
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-6
				.aboutimg
					img(src="img/about/1.jpg", alt="")
			.col-xs-12.col-md-6
				h1.bigtitle Giới thiệu
					.title Về chúng tôi
				.content
					p Với đội ngũ cố vấn chuyên nghiệp, giàu kinh nghiệm. U.S tự hào là đơn vị đã thành công với hàng trăm bộ hồ sơ trong nhiều năm qua. U.S Visa cam kết mang lại chất lượng dịch vụ đỉnh cao 5 sao. 
					p Sứ mệnh của chúng tôi chính là mang đến cho các bạn sự khởi đầu một tương lai tốt đẹp tại Mỹ.
					p Sự thành công của các bạn chính là giá trị cốt lõi của chúng tôi
				a.link(href="#") Liên hệ với chúng tôi
section.whychoose.clearfix
	.container
		h1.bigtitle.text-xs-center Tại sao
			.title Chọn chúng tôi?
		.whychooselist.clearfix
			.item
				.whycol
					figure
						.icon
							img(src="img/icon/1.png", alt="alt")
						figcaption 
							.des Giải pháp chuyên nghiệp cho từng trường hợp hồ sơ 
			.item
				.whycol
					figure
						.icon
							img(src="img/icon/2.png", alt="alt")
						figcaption 
							.des Hỗ trợ kiến thức pháp luật bởi đại diện luật sư tại Mỹ
			.item
				.whycol
					figure
						.icon
							img(src="img/icon/3.png", alt="alt")
						figcaption 
							.des Hoàn phí 100% nếu không nhận được visa
			.item
				.whycol
					figure
						.icon
							img(src="img/icon/4.png", alt="alt")
						figcaption 
							.des Luyện tập phỏng vấn nâng cao xác suất đậu Visa
section.about-company.clearfix
	//- (style="background: url(img/about/bg3.jpg) left bottom no-repeat; background-size: cover; background-attactment: fixed")
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-6.col-lg-5
				h2.bigtitle
					.title Văn hóa công ty
				.content
					h5 Tập thể U.S Visa chú trọng về nhân lực - nguồn giá trị mạnh mẽ tạo sự thành công và nền tảng phát triển bền vững lâu dài.
					p Hướng đến mục tiêu "wonderful house", U.S Visa luôn tạo cơ hội cho nhân viên phát triển định hướng nghề nghiệp cũng như môi trường cân bằng giữa công việc và cuộc sống.
					p U.S Visa nuôi dưỡng đạo đức nghề nghiệp, chú trọng tăng trưởng kinh doanh nhưng đằng sau của tầm vẫn đi liền với TÂM
			.col-xs-12.col-md-6.col-lg-5
				.slidewrap
					.about-slide
						.item
							a(href="img/about/slide/1.jpg" data-fancybox="about")
								img(src="img/about/slide/1.jpg", alt="")
						.item
							a(href="img/about/slide/2.jpg" data-fancybox="about")
								img(src="img/about/slide/2.jpg", alt="")
						.item
							a(href="img/about/slide/3.jpg" data-fancybox="about")
								img(src="img/about/slide/3.jpg", alt="")
						.item
							a(href="img/about/slide/4.jpg" data-fancybox="about")
								img(src="img/about/slide/4.jpg", alt="")
						.item
							a(href="img/about/slide/5.jpg" data-fancybox="about")
								img(src="img/about/slide/5.jpg", alt="")
						.item
							a(href="img/about/slide/6.jpg" data-fancybox="about")
								img(src="img/about/slide/6.jpg", alt="")
						.item
							a(href="img/about/slide/7.jpg" data-fancybox="about")
								img(src="img/about/slide/7.jpg", alt="")