section.home-tuvan.clearfix
	.container
		h2.hometitle Chương trình học
		.tuvanlist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-8
					.row.flex.flex-wrap
						.col-xs-12.col-md-6
							.tuvancol.big
								figure
									a.tuvanimg(href="#" style="background: url(img/tuvan/1.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Mỹ
						.col-xs-12.col-md-6
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/1.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Mỹ
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/1.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Mỹ
						.col-xs-12
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/1.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Mỹ
				.col-xs-12.col-md-4
					.tuvancol
						figure 
							a.tuvanimg(href="#" style="background: url(img/tuvan/1.jpg) center center;background-size: cover")
							figcaption
								.tuvancaption Học bổng Trung học công lập Mỹ
					.tuvancol.big
						figure 
							a.tuvanimg(href="#" style="background: url(img/tuvan/1.jpg) center center;background-size: cover")
							figcaption
								.tuvancaption Du học hè
//- section.home-welcome.clearfix
	.container
		h1.hometitle Welcome to USC
		.pagedes Universal Study là một tổ chức tư vấn du học được chính thức công nhận bởi các cơ quan giáo trên 7 quốc gia. Sứ mệnh của chúng tôi là mang đến cho quý phụ huynh và các học sinh những  giải pháp tối ưu, nhanh, chính xác và hiệu quả.
		.featurelist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/1.png", alt="alt")
							figcaption
								.number.counter 10
								.des Năm kinh nghiệm
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/2.png", alt="alt")
							figcaption
								.number.counter 1500
								.des Hồ sơ thành công
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/3.png", alt="alt")
							figcaption
								.number.counter 1000
								.des Trường học các bậc
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/4.png", alt="alt")
							figcaption
								.number.counter 07
								.des Quốc gia trao học bổng
section.home-section.clearfix(style="background:url(img/servicebg.jpg) center center no-repeat;background-size: cover")
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-lg-8
				section.home-teacher.clearfix
					h2.hometitle.text-xs-left Đội ngũ giáo viên
					.teacher-slide 
						.item
							.teacher
								figure 
									.teacherimg
										img(src="img/teacher/1.jpg", alt="")
									figcaption
										.teachername Lý Thanh Trúc
						.item
							.teacher
								figure 
									.teacherimg
										img(src="img/teacher/1.jpg", alt="")
									figcaption
										.teachername Lý Thanh Trúc
						.item
							.teacher
								figure 
									.teacherimg
										img(src="img/teacher/1.jpg", alt="")
									figcaption
										.teachername Lý Thanh Trúc
						.item
							.teacher
								figure 
									.teacherimg
										img(src="img/teacher/1.jpg", alt="")
									figcaption
										.teachername Lý Thanh Trúc
						.item
							.teacher
								figure 
									.teacherimg
										img(src="img/teacher/1.jpg", alt="")
									figcaption
										.teachername Lý Thanh Trúc
			.col-xs-12.col-lg-4
				section.home-schedule.clearfix
					h2.hometitle.text-xs-left Lịch khai giảng
					.content
						p Để giúp bạn lựa chọn thời gian thích hợp, hãy tra cứu ngay chương trình học bạn muốn tham gia để biết lịch khai giảng chi tiết.
					.form-group
						label Chương trình học
						select 
							option Active English for Teens
					a.view-schedule(href="#") Xem lịch
section.home-about.clearfix
	.container
		h2.hometitle Welcome to USC
		.row.flex.flex-wrap
			.col-xs-12.col-md-6
				.homeabout-img 
					.item
						.img
							img(src="img/about/img1.jpg", alt="")
					.item
						.img
							img(src="img/about/img1.jpg", alt="")
					.item
						.img
							img(src="img/about/img1.jpg", alt="")
					.item
						.img
							img(src="img/about/img1.jpg", alt="")
					.item
						.img
							img(src="img/about/img1.jpg", alt="")
			.col-xs-12.col-md-6
				.home-intro 
					.title 
						span UNIVERSAL STUDY CENTER
					.content
						p UNIVERSAL STUDY CENTER (USC) là trung tâm Anh Ngữ đầu tiên tại TPHCM được Sở Giáo Dục và Đào Tạo cấp phép hoạt động giảng dạy dựa trên phương pháp Tiếp Cận Năng Lực (Competency-based approach), giúp người học hấp thụ ngôn ngữ một cách tự nhiên và hiệu quả nhất. USC hiện có các khóa học Anh Ngữ từ cơ bản đến nâng cao đa dạng cho mọi lứa tuổi.
					.homeabout-nav
						.item
							.img
								img(src="img/about/img1.jpg", alt="")
						.item
							.img
								img(src="img/about/img1.jpg", alt="")
						.item
							.img
								img(src="img/about/img1.jpg", alt="")
						.item
							.img
								img(src="img/about/img1.jpg", alt="")
						.item
							.img
								img(src="img/about/img1.jpg", alt="")
section.home-news.clearfix(style="background:url(img/newsbg.jpg) center center no-repeat;background-size: cover")
	.container
		h2.hometitle Tin tức
		.homenews-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-lg-6
					.newscol.big
						figure 
							a.newsimg(href="#" style="background:url(img/news/h1.jpg) center center no-repeat;background-size: cover")
							figcaption
								time 25/03/2017
								h3.newsname
									a(href="#") Phỏng vấn nhận học bổng cùng đại học Nebraska - Lincoln (unl)
				.col-xs-12.col-lg-6
					.newscol
						figure
							a.newsimg(href="#" style="background:url(img/news/h2.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
								.newsdes Với mức học bổng lên đến US $24,000 từ các trường đại Học
								a.link(href="#") Xem thêm <span class="lnr lnr-arrow-right"></span>
					.newscol
						figure
							a.newsimg(href="#" style="background:url(img/news/h3.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.newsname
									a(href="#") Học bổng bay State College lên đến 21,000usd
								.newsdes Bay State College là một trong những trường đại học hàng đầu
								a.link(href="#") Xem thêm <span class="lnr lnr-arrow-right"></span>

.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-6
			section.home-feedback.clearfix
				h2.hometitle.text-xs-left Cảm nhận học viên
				.feedback-slide
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
		.col-xs-12.col-lg-6
			section.home-partner.clearfix
				h2.hometitle.text-xs-left Đối tác
				.partnerslide.clearfix
					.item
						.partnerlist.clearfix
							.row.flex.flex-wrap
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
					.item
						.partnerlist.clearfix
							.row.flex.flex-wrap
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
					.item
						.partnerlist.clearfix
							.row.flex.flex-wrap
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
section.home-form.clearfix(style="background:url(img/formbg.jpg) center center no-repeat;background-size: cover")
	.container
		h2.hometitle Đăng ký lịch hẹn tư vấn
		.form-wrap.clearfix
			.row.flex.flex-wrap
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Họ tên")
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Ngày sinh")
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Điện thoại")
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Email")
				.form-group.col-xs-12
					textarea(name="", cols="30", rows="4", placeholder="Nội dung")
				.frm-btn.col-xs-12
					input(type="submit", value="Đăng ký")