+breadcrumb("Câu chuyện thành công", "img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.blog-page.clearfix
				h1.pagetitle Câu chuyện thành công
				.bloglist.clearfix
					.row.flex.flex-wrap
						.col-xs-12
							.blogcol
								figure 
									a.blogimg(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										time 24/05/2017
										h2.blogname 
											a(href="#") Nước Anh trong mắt tôi - Ước mơ đã thành hiện thực
										.blogdes Hình ảnh nước Anh đã bắt đầu hình thành trong tôi qua những buổi tối ngồi xem tivi cùng gia đình với những bộ phim về giới quý tộc Anh như “The Hazard of Hearts” hay “Pride and Prejudice”...
										a.link(href="#") Xem thêm
						.col-xs-12
							.blogcol
								figure 
									a.blogimg(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										time 24/05/2017
										h2.blogname 
											a(href="#") New York – Tình Yêu và Nỗi Nhớ
										.blogdes “Khi ta ở chỉ là nơi đất ở – khi ta đi, đất bỗng hóa tâm hồn” ..Và đối với tôi, New York là một nơi như vậy, ngay cả khi tôi vẫn chưa dứt ra được khỏi nó. Tôi còn nhớ lần đầu tiên mình đặt...
										a.link(href="#") Xem thêm
						.col-xs-12
							.blogcol
								figure 
									a.blogimg(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										time 24/05/2017
										h2.blogname 
											a(href="#") Corpus Christi – Tự dưng mắt ướt
										.blogdes Là một người hay “dịch chuyển” nhiều và cũng mơ màng những lúc gặp cảnh đẹp người đẹp, ngày đầu tiên đến thành phố này, tôi thực sự thấy yêu nó… Những con phố nhỏ, những ngôi nhà đậm chất...
										a.link(href="#") Xem thêm
						.col-xs-12
							.blogcol
								figure 
									a.blogimg(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										time 24/05/2017
										h2.blogname 
											a(href="#") NƯỚC ANH: MÙA ĐÔNG KHÔNG LẠNH
										.blogdes Tháng 12.2011, hành trình du học châu Âu của tôi đã dài được 15 tháng. Tôi còn 7 tháng nữa để hoàn tất chương trình học, tham gia thêm vài hoạt động xã hội, ngao du thêm vài chuyến trước...
										a.link(href="#") Xem thêm
						.col-xs-12
							.blogcol
								figure 
									a.blogimg(href="#")
										img(src="img/news/5.jpg", alt="")
									figcaption
										time 24/05/2017
										h2.blogname 
											a(href="#") Bức thư đẫm nước mắt của chàng du học sinh Việt
										.blogdes Có những khi thành phố lên đèn, khi mọi người đều tìm về tổ ấm của mình, con lại nhớ nhà mình đến trào nước mắt... Con thèm lắm những đêm yên giấc ngủ trong vòng tay của bố mẹ, con thèm...
										a.link(href="#") Xem thêm
					.pages
						ul.pagination
							li.active
								a(href="#") 1
							li 
								a(href="#") 2
							li 
								a(href="#") 3
							li 
								a(href="#") 4
		.col-xs-12.col-lg-3
			//- a.btn-backpage(href="#") Quay lại
			nav.sidebar-category.clearfix
				//- .othertitle 
				//- 	span Du học
				//- ul 
				//- 	li.active
				//- 		a(href="#") Du học Mỹ
				//- 	li
				//- 		a(href="#") Du học Anh
				//- 	li 
				//- 		a(href="#") Du học Canada
				//- 	li
				//- 		a(href="#") Du học Úc
				//- 	li 
				//- 		a(href="#") Du học Singapore
				//- 	li 
				//- 		a(href="#") Du học New Zealand
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm
