+breadcrumb("Hỗ trợ", "img/breadcrumb/2.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				.newsmain-img
					figure
						img(src="img/breadcrumb/2.jpg", alt="")
					figcaption
						h1.newspage-name Yêu cầu xin visa
						.share
							img(src="img/share.png", alt="")
				//- .newsdetail.clearfix
					time ngày 28/3/2017
				.content
					p Universal Study là một tổ chức tư vấn du học được chính thức công nhận bởi các cơ quan giáo dục của các nước: British Council (Anh Quốc), AEI (Úc), CEC (Canada), US Commercial Services(Mỹ), NZTE (New Zealand), STB (Singapore)
					p Các chuyên viên tư vấn của Universal Study là những người có kinh nghiệm để giải quyết tất cả các vấn đề liên quan đến visa của từng nước mà du học sinh sẽ đến. Hằng năm chúng tôi luôn cập nhật luật visa mới nhất của các lãnh sự nhằm hướng đến visa tuyệt đối cho các bạn.
		.col-xs-12.col-lg-3
			//- a.btn-backpage(href="#") Quay lại
			nav.sidebar-category.only.clearfix
				.othertitle 
					span Du học
				ul 
					li.active
						a(href="#") Yêu cầu xin visa
					li
						a(href="#") Trường học
					li 
						a(href="#") Form tư vấn
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
