+breadcrumb("Câu chuyện thành công", "img/breadcrumb/1.jpg")
section.blog-page.clearfix
	.container
		h1.pagetitle Chia sẻ học viên
		.row.flex.flex-wrap.flex-content-center
			.col-xs-12.col-md-10.col-lg-8.col-xl-6
				.feedback-slide
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
