+breadcrumb("Chương trình học","img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				.newsmain-img
					figure
						img(src="img/course/2.jpg", alt="")
					figcaption
						h1.newspage-name JOYFUL CLUB cho Adult và Teen
						.place <i class="fa fa-map-marker" aria-hidden="true"></i>240-242 HÒA HƯNG, P.13, Q.10, THÀNH PHỐ HỒ CHÍ MINH
						time <i class="fa fa-calendar" aria-hidden="true"></i>04-22-2017 - 04-22-2017
						.status Trạng thái: 
							strong Sắp bắt đầu
						.share
							img(src="img/share.png", alt="")
				//- .newsdetail.clearfix
					time ngày 28/3/2017
				.content
					p Chương trình cung cấp nền tảng từ vựng  và ngữ pháp đễ hỗ trợ người học phát triển đầy đủ các kỹ năng nghe, nói, đọc, viết từ trình độ sơ cấp đến cao cấp. Người học sẽ giao tiếp chủ động, tự tin và lưu loát trong các ngữ cảnh từ đơn giản đến phức tạp như các giao tiếp hằng ngày trong gia đình, xã hội, tại nơi làm việc… Đối tượng chủ yếu là học sinh cấp hai.

					p Đây là giai đoạn đầu giúp học viên: 
					ul 
						li Bước đầu làm quen với tiếng Anh.
						li Hiểu những chỉ dẫn và thông tin đơn giản.
						li Hỏi đáp về các đề tài thường ngày như bản thân, gia đình, nhà trường.
						li Bày tỏ ý kiến, yêu cầu đơn giản.
					//- figure
						img(src="img/course/p1.jpg", alt="")
						
				.table-responsive
					table.table.course-table
						thead
							tr 
								th Cấp độ
								th Mã lớp
								th Tuần
								th Giờ	Ngày
								th Thời gian
								th Ngày nhập học
								//- th Học phí (VND)
								th Trạng thái
						tbody
							tr 
								td Cấp độ 3
								td H1YK-L3-1702
								td 19
								td 74
								td Sat/Sun 10:00 - 12:00
								td 11/03/2017
								//- td 17,871,000
								td 
									.label Khai giảng
							tr 
								td Cấp độ 3
								td H1YK-L3-1702
								td 19
								td 74
								td Sat/Sun 10:00 - 12:00
								td 11/03/2017
								//- td 17,871,000
								td 
									.label Khai giảng
							tr 
								td Cấp độ 3
								td H1YK-L3-1702
								td 19
								td 74
								td Sat/Sun 10:00 - 12:00
								td 11/03/2017
								//- td 17,871,000
								td 
									.label Khai giảng
							tr 
								td Cấp độ 3
								td H1YK-L3-1702
								td 19
								td 74
								td Sat/Sun 10:00 - 12:00
								td 11/03/2017
								//- td 17,871,000
								td 
									.label Khai giảng
							tr 
								td Cấp độ 3
								td H1YK-L3-1702
								td 19
								td 74
								td Sat/Sun 10:00 - 12:00
								td 11/03/2017
								//- td 17,871,000
								td 
									.label Khai giảng
							tr 
								td Cấp độ 3
								td H1YK-L3-1702
								td 19
								td 74
								td Sat/Sun 10:00 - 12:00
								td 11/03/2017
								//- td 17,871,000
								td 
									.label Khai giảng
				.bando
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.426162145277!2d106.67026531538363!3d10.778635992320059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed9c65a772d%3A0x3d34b2bebd9942fa!2sUniversal+Study!5e0!3m2!1sen!2s!4v1495436255478" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="")
				.register-info.clearfix
					.module-title Đăng ký chương trình học
					.form-group.col-xs-12.col-md-6
						label(for="") Họ và tên(*):
						input(type="text")
					.form-group.col-xs-12.col-md-6
						label(for="") Ngày tháng năm sinh(*):
						input(type="text")
					.form-group.col-xs-12.col-md-6
						label(for="") Phụ huynh(*):
						input(type="text")
					.form-group.col-xs-12.col-md-6
						label(for="") Số điện thoại:
						input(type="text")
					.form-group.col-xs-12.col-md-6
						label(for="") Email:
						input(type="text")
					.form-group.col-xs-12.col-md-6
						label(for="") Địa chỉ:
						input(type="text")
					.form-group.col-xs-12
						label(for="") Nội dung:
						textarea(name="", cols="30", rows="5")
					.col-xs-12
						input(type="submit", value="Đăng ký")
		.col-xs-12.col-lg-3
			nav.other-news.only.clearfix
				.othertitle 
					span Sự kiện
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Trao tặng học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Gặp gỡ sinh viên Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện hình ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm