+breadcrumb("Thư viện","img/breadcrumb/1.jpg")
nav.topbar.clearfix
	.container
		ul 
			li
				a(href="#") Thư viện hình ảnh
			li.active
				a(href="#") Thư viện video
section.gallery-page.clearfix
	.container
		.pagetitle Thư viện video
		.gallery-list.flex.flex-wrap.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/1.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/2.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/3.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/4.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/5.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/6.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/7.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/8.jpg", alt="")
							figcaption Lễ trao học bổng
				.col-xs-12.col-md-6.col-lg-4
					.video-col
						figure 
							a.video-img(href="https://www.youtube.com/watch?v=kBYIZ49bX5o" data-fancybox="video")
								img(src="img/news/9.jpg", alt="")
							figcaption Lễ trao học bổng
		.pages
			ul.pagination
				li.active
					a(href="#") 1
				li
					a(href="#") 2
				li 
					a(href="#") 3
				li 
					a(href="#") 4