+breadcrumb("Thư viện","img/breadcrumb/1.jpg")
nav.topbar.clearfix
	.container
		ul 
			li.active
				a(href="#") Thư viện hình ảnh
			li 
				a(href="#") Thư viện video
section.gallery-page.clearfix
	.container
		.pagetitle Thư viện hình ảnh
		.gallery-list.flex.flex-wrap.clearfix
			.album
				a.pic(href="img/album/1.jpg" data-fancybox="gallery1")
					img(src="img/album/1.jpg", alt="")
			.album
				a.pic(href="img/album/2.jpg" data-fancybox="gallery1")
					img(src="img/album/2.jpg", alt="")
			.album
				a.pic(href="img/album/3.jpg" data-fancybox="gallery1")
					img(src="img/album/3.jpg", alt="")
			.album
				a.pic(href="img/album/4.jpg" data-fancybox="gallery1")
					img(src="img/album/4.jpg", alt="")
			.album
				a.pic(href="img/album/5.jpg" data-fancybox="gallery1")
					img(src="img/album/5.jpg", alt="")
			.album
				a.pic(href="img/album/6.jpg" data-fancybox="gallery1")
					img(src="img/album/6.jpg", alt="")
			.album
				a.pic(href="img/album/1.jpg" data-fancybox="gallery1")
					img(src="img/album/1.jpg", alt="")
			.album
				a.pic(href="img/album/2.jpg" data-fancybox="gallery1")
					img(src="img/album/2.jpg", alt="")
			.album
				a.pic(href="img/album/3.jpg" data-fancybox="gallery1")
					img(src="img/album/3.jpg", alt="")
			//- .album
				a.pic(href="img/news/14.jpg" data-fancybox="gallery1")
					img(src="img/news/14.jpg", alt="")
			//- .album
				a.pic(href="img/news/3.jpg" data-fancybox="gallery1")
					img(src="img/news/3.jpg", alt="")
			//- .album
				a.pic(href="img/news/12.jpg" data-fancybox="gallery1")
					img(src="img/news/12.jpg", alt="")
		.pages
			ul.pagination
				li.active
					a(href="#") 1
				li
					a(href="#") 2
				li 
					a(href="#") 3
				li 
					a(href="#") 4