+breadcrumb("Tin tức","img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				.newsmain-img
					figure
						img(src="img/breadcrumb/2.jpg", alt="")
					figcaption
						h1.newspage-name Chương trình học bổng Hubert Humphrey 2011 - 2012
						time 26/03/2017
						.share
							img(src="img/share.png", alt="")
				//- .newsdetail.clearfix
					time ngày 28/3/2017
				.content
					p Phái đoàn Ngoại giao Mỹ hôm nay (4.5) đã có thông báo về chương trình học bổng Hubert Humphrey niên học 2011 - 2012. Theo đó, người trúng tuyển sẽ được học một năm tại một trong những trường đại học hàng đầu ở Mỹ, trong đó có thực tập chuyên môn, đi thực tế, tham gia hội nghị và hội thảo về lĩnh vực liên quan.
					p Các lĩnh vực ưu tiên của học bổng Hubert Humphrey là Phát triển Nông nghiệp và Nông thôn; Truyền thông/Báo chí; Kinh tế phát triển/Tài chính và Ngân hàng;
					p Quy hoạch, Quản lý và Chính sách Giáo dục; Quản lý Giáo dục Đại học...
					p Người tham gia dự tuyển có tuổi từ 28 - 45; có ít nhất một bằng đại học chính quy hệ 4 năm hoặc lâu hơn; ít nhất 5 năm công tác; có khả năng viết và nói thành thạo tiếng Anh, điểm TOEFL thấp nhất là 525 (thi trên giấy) hoặc 71 (thi trên internet)...
					p Học bổng này không dành cho những người mới tốt nghiệp đại học, các giảng viên đại học không ở cương vị quản lý, hoặc những người đã theo học sau đại học ở Mỹ từ một năm trở lên trong vòng 7 năm tính đến tháng 8.2011, hoặc đã từng ở Mỹ từ 6 tháng trở lên trong vòng 5 năm tính đến tháng 8.2011.
					p Hạn chót nộp hồ sơ đăng ký dự tuyển là 17 giờ ngày 2.8.2010. Chỉ chấp nhận hồ sơ đăng ký dự tuyển trực tuyến tại trang web http://apply.embark.com/student/humphrey/fellowship/.
		.col-xs-12.col-lg-3
			a.btn-backpage(href="#") Quay lại
			nav.sidebar-category.clearfix
				.othertitle 
					span Danh mục tin tức
				ul 
					li.active
						a(href="#") Tin học bổng
					li
						a(href="#") Tin triển vọng việc làm/Định cư
					li 
						a(href="#") Tin du học
					li
						a(href="#") Tin ưu đãi mới
					li 
						a(href="#") Sự kiện nổi bật
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện hình ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm