+breadcrumb("Tin tức","img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-page.clearfix
				.pagetitle Tin học bổng
				.newslist.clearfix
					.row.flex.flex-wrap
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/1.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Đại học La Trobe - học bổng năm 2015
										.newsdes Trường Quản lý quốc tế Sydney - ICMS được thành lập năm 1996 tại khu Manly, Sydney một địa điểm du l...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/2.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Học bổng dành cho SV tại Hoa Kỳ
										.newsdes Đại học Kansas là ngôi trường công lập lớn nhất tiểu bang Kansas, được thành lập từ 1865, với 28,000...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/3.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Những học bổng khác tại Canada
										.newsdes Đại học Nebraska - Lincoln đứng thứ 3 trong những trường đại học công lập rất uy tín và nổi tiếng nh...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/4.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Các loại học bổng của Vương Quốc Anh
										.newsdes Với mức học bổng lên đến US$24,000 từ các trường đại học lớn và uy tín của Mỹ, đây dĩ nhiên là 1 cơ ...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/5.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Học bổng tại trường Thương Mại Luân Đôn -Anh Quốc
										.newsdes KỲ THI XÉT TUYỂN HỌC BỔNG TRUNG HỌC CÔNG LẬP MỸ tổ chức đợt 1 vào lúc 9h ngày 20/8/2016 tạ...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/6.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Các loại học bổng của Úc
										.newsdes Kính mời quý phụ huynh và các em học sinh đến dự buổi phỏng vấn xin học bổng trung học với đai diện...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/7.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Học bổng thạc sĩ toàn phần Fulbright 2017-2018
										.newsdes Đại sứ quán Mỹ tại Việt Nam thông báo Chương trình Học bổng Fulbright dành cho Sinh Viên Việt Nam n...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/8.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") Chương trình học bổng Hubert Humphrey 2011 - 2012
										.newsdes Bay State College là một trong những trường đại học hàng đầu đào tạo các khối ngành kinh tế tại Mỹ. ...
										a.link(href="#") Chi tiết
						article.col-xs-12.col-sm-6.col-md-4
							.newscol
								figure 
									a.newsimg(href="#")
										img(src="img/news/9.jpg", alt="")
										time 26/03/2017
									figcaption
										h2.newsname
											a(href="#") 10 suất học bổng 34.500USD cho sinh viên năm nhất
										.newsdes TT - Viện Giáo dục quốc tế (IIE) thông báo chương trình học bổng GE Foundation Scholar-Leaders 2011 ...
										a.link(href="#") Chi tiết
					.pages
						ul.pagination
							li 
								a(href="#") 1
							li.active
								a(href="#") 2
							li 
								a(href="#") 3
							li 
								a(href="#") 4
		.col-xs-12.col-lg-3
			//- a.btn-backpage(href="#") Quay lại
			nav.sidebar-category.only.clearfix
				.othertitle 
					span Danh mục tin tức
				ul 
					li.active
						a(href="#") Tin học bổng
					li
						a(href="#") Tin triển vọng việc làm/Định cư
					li 
						a(href="#") Tin du học
					li
						a(href="#") Tin ưu đãi mới
					li 
						a(href="#") Sự kiện nổi bật
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện hình ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm