section.breadcrumbwrap.clearfix
	.breadcrumbimg
		img(src="img/breadcrumb/1.jpg", alt="")
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Định cư mỹ
				meta(itemprop='position', content='2')
section.news-page.clearfix
	.container
		.pagetitle Visa Mỹ
		.pagedes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt delectus incidunt doloribus dignissimos nam ipsa dolore, cumque aspernatur iste facere consequuntur fugit enim adipisci minima ratione quasi saepe tempora totam id, aliquam quam praesentium nemo debitis. Repudiandae quos, aperiam suscipit veniam quo, at perspiciatis voluptatibus aut, assumenda vero provident nulla.
		nav.page-category.clearfix
			ul 
				li.active
					a(href="#") Visa du lịch
				li 
					a(href="#") Visa du học Mỹ
				li
					a(href="#") Visa các nước khác
		.newslist.clearfix
			.row.flex.flex-wrap
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/8.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Dùng visa du lịch kết hôn tại Mỹ hợp pháp không?
								time ngày 28/3/2017
								.newsdes Có rất nhiều bạn đang băn khoăn không biết liệu dùng visa du lịch Mỹ kết hôn với U.S citizen tại Hoa Kỳ có đươc hay...
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/9.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Cách cải thiện hồ sơ du lịch yếu như thế nào?
								time ngày 28/3/2017
								.newsdes Bạn đang độc thân và rất thích đi du lich . Vậy chắc chắn rằng Mỹ là điểm đến không thể thiếu trong danh sách của...
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/10.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Rớt phỏng vấn hai lần có còn hy vọng đậu visa Mỹ?
								time ngày 28/3/2017
								.newsdes Anh D. là Phó giám đốc đối ngoại tại một công ty truyền thông lớn, mức thu nhập của anh rất cao 100tr/tháng. Anh...
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/11.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Rớt visa du lịch có làm hồ sơ đụng cư được không?
								time ngày 28/3/2017
								.newsdes Luật di trú Hoa Kỳ yêu cầu viên chức Lãnh sự xem  mọi đương đơn xin visa như một người có ý định nhập cư cho đến...
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/12.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Xin visa du lịch Mỹ được không khi đang có hồ sơ bảo lãnh định cư?
								time ngày 28/3/2017
								.newsdes Đầu tiên, không có một công thức nào để được cấp visa du lịch Mỹ 100%. Cũng giống như khi các bạn đi xin việc...
				article.col-xs-12.col-sm-6.col-md-4
					.newscol
						figure 
							a.newsimg(href="#")
								img(src="img/news/6.jpg", alt="")
							figcaption
								h2.newsname
									a(href="#") Quy trình chuẩn xin visa du lịch Mỹ
								time ngày 28/3/2017
								.newsdes Rất nhiều Khách hàng mơ hồ không biết làm thủ tục xin visa du lịch như thế nào? Phải bắt đầu từ đâu và làm...
			.pages
				ul.pagination
					li 
						a(href="#") 1
					li.active
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4
