footer
	.container
		section.footertop.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-3
					section.footercol.clearfix
						.title Liên hệ
						.contact-detail
							ul 
								li <i class="fa fa-home" aria-hidden="true"></i>
									span 238-240-242 Hòa Hưng, Phường 13, Quận 10, TPHCM
								li <i class="fa fa-phone" aria-hidden="true"></i>
									a(href="tel:(08) 6264 3648") (08) 6264 3648
								li <i class="fa fa-fax" aria-hidden="true"></i>
									span (08) 6264 3684
								li <i class="fa fa-envelope" aria-hidden="true"></i>
									a(href="mailto:info@universalstudy.edu.vn") info@universalstudy.edu.vn
					section.subscribewrap.clearfix
						.title Đăng ký nhận bản tin
						.subscribe.clearfix
							.module-title Nhận thông tin mới nhất từ USCC
							.subscribefrm.clearfix
								input(type="text" placeholder="Nhập email...")
								.subscribebutton Đăng ký
				.col-xs-12.col-md-6.col-lg-3
					section.footercol.clearfix
						.title Tư vấn du học
						nav.footerlink
							ul 
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
				.col-xs-12.col-md-6.col-lg-3
					section.footercol.clearfix
						.title Tin tức - Sự kiện
						nav.footerlink
							ul 
								li 
									a(href="#") Học bổng
								li 
									a(href="#") Triển vọng việc làm / Định cư
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
								li 
									a(href="#") Du học Mỹ
					section.footercol.clearfix
						.title Học viên
						nav.footerlink
							ul 
								li 
									a(href="#") Học bổng
								li 
									a(href="#") Triển vọng việc làm / Định cư
				.col-xs-12.col-md-6.col-lg-3
					section.footercol.clearfix
						.title Theo dõi Fanpage
		section.footerbottom.clearfix
			.copyright © 2017 Bản quyền thuộc về USC. Tất cả các quyền được bảo hộ. Thiết kế bởi Cánh Cam.
			nav.footernav
				ul
					li 
						a(href="#") Điều khoản sử dụng
					li 
						a(href="#") Chính sách bảo mật
					li 
						a(href="#") Sitemap

.up <i class="fa fa-chevron-up" aria-hidden="true"></i>