header
	section.headertop.clearfix
		.container
			.social
				a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
			.colright
				.search
					.searchwrap
						input(type="text" placeholder="Tìm kiếm...")
						button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				.language
					a(href="#") EN
					a.active(href="#") VN
	section.headermain.clearfix
		.container
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			nav.menu.clearfix
				.sitelogo.hidden-xl-up
					a(href="index.html")
						img(src="img/logo.png", alt="")
				.menucontent.clearfix
					.menuleft
						ul.menulink
							li
								a(href="#") Giới thiệu
								//- .btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								//- .sub
									ul 
										li 
											a(href="#") Về chúng tôi
										li 
											a(href="#") Dịch vụ
							li.hassub
								a(href="#") Chương trình học
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub
									ul 
										li 
											a(href="#") Active English for Teens
										li
											a(href="#") Active English for Adults
										li 
											a(href="#") English Communication Skill
										li
											a(href="#") English for Children
										li 
											a(href="#") Academic English
										li 
											a(href="#") Intensive IELTS
							li.hassub
								a(href="#") Lịch khai giảng
								//- .btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								//- .sub
									ul 
										li 
											a(href="#") Yêu cầu visa
										li 
											a(href="#") Trường học
										li 
											a(href="#") Hỏi đáp
										li 
											a(href="#") Đăng ký tư vẫn
							li.hassub
								a(href="#") Học viên
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub
									ul 
										li 
											a(href="#") Câu chuyện thành công
										li 
											a(href="#") Chia sẻ của học viên
					.menuright
						ul.menulink
							li
								a(href="#") Tư vấn du học
							li
								a(href="#") Hỗ trợ
							li.hassub
								a(href="#") Tin tức
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub
									ul 
										li 
											a(href="#") Học bổng
										li 
											a(href="#") Triển vọng việc làm / Định cư
										li 
											a(href="#") Du học
										li 
											a(href="#") Ưu đãi mới
										li 
											a(href="#") Sự kiện nổi bật
							li
								a(href="#") Thư viện
							li
								a(href="#") Liên hệ